<hr>
<div class="footer">
    <h1>The News Presenter</h1>
    <div class="row">
        <div class="col">
            <h2>Contacts</h2>
            <p><strong>Email:</strong>dancan.oruko96@gmail.com</p>
            <p><strong>Phone:</strong>0701824796</p>
            <p><strong>Telephone:</strong> +254798940016</p>
        </div>

        <div class="col">
            <h2>Subscribe</h2>
            <p>Politics</p>
            <p>Sports</p>
            <p>Music</p>
            <p>Culture</p>
        </div>
    </div>
</div>