<!-- {% extends 'bootstrap/base.html'%} -->

{% macro displaySources(news_sources)%}

    {% for news_source in news_sources%}
        <h1><a href="/articles/{{news_source.source_id}}">{{news_source.source_name}}</a></h1>
        <h4>{{news_source.source_category}}</h4>
        <p>{{news_source.source_description}}</p>
    {%endfor%}

{% endmacro%}



{% macro displayArticles(articles)%}

    {% for article in articles %}
    <li><strong><em>{{article.article_name}}</em></strong></li> 
    <p><strong>Time of publications:</strong><small>{{article.article_time}}</small></p>
    <img src="{{article.article_image}}" style="width: 20%; height: 20vh;" alt="{{article.article_name}}">  
    
    <p>{{article.article_description}}</p>


    {% endfor %}

{%endmacro%}