

{% macro displaySources(news_sources)%}

    {% for news_source in news_sources%}
    <div class="source jumbotron-fluid">
        <h1 class="text-capitalize"><a href="/articles/{{news_source.source_id}}">{{news_source.source_name}}</a></h1>
        <h4 class="sourcetitle">Categoty: <button class="btn-success">{{news_source.source_category}}</button></h4>
        <p>{{news_source.source_description}}</p>
        <p><a href="/articles/{{news_source.source_id}}" btn-primary>View Articles</a></p>
    </div>
    {%endfor%}

{% endmacro%}



{% macro displayArticles(articles)%}
    
    
        
    {% for article in articles %}
        <div class="articles">
            <li><strong><em>{{article.article_name}}</em></strong></li> 
            <p><strong>Time of publications:</strong><small>{{article.article_time}}</small></p>
            <img src="{{article.article_image}}" style="width: 100%; height: 20vh;" alt="{{article.article_name}}">  
            
            <p>{{article.article_description}}</p>
        </div>
    

    {% endfor %}

{%endmacro%}